.partearribar{background-color: black; display:flex;

}
#logo{margin:0; font-size: 25px; color:cornsilk; flex: 1; padding-right: 0%;

}
#bar{padding-top: 30px; flex: 2; margin: 0%; padding-right: 300px;
}

#sec1{display: flex;

}
#mg1{filter: brightness(50%);}

.parte1{background-color: black; position: relative;
 flex: 1; width: 100%; max-width: 768;

}
.textoencima{
    flex: 2;
  
    position: absolute;
    top: 60%;
    left: 60%;
    min-width: none;

  display: inline-block;
    
    text-align: right;}
.badge{color: black; font-weight: bolder; font-size: 10px;

}
#ada1{color: white;font-weight: bolder; font-size: 10px; }