.partearribar{display: inline-flex; background-color: black;

}
#logo{margin: 25,25,25,25; font-size: 25px; color:cornsilk

}
#bar{padding-top: 32px; padding-left: 485px; margin-right: 7px;

}
#bar.a{text-decoration: underline black

}
{ background-image: url(./img/ba1.jpg);

}
.body{background-color: black;

}
.dos{
}